# Amazon Top Selling Products – Data Cleaning

In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

In [2]:
# loading the data
amazon_data = pd.read_csv('amazon_data.csv')

In [3]:
amazon_data.columns

Index(['ASIN', 'category', 'links', 'title', 'price', 'image url', 'rating',
       'No of reviews'],
      dtype='object')

In [4]:
# dropping columns that aren't of use to the analysis
amazon_data.drop(columns=['ASIN', 'links', 'image url'], inplace=True)

In [5]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2252677 entries, 0 to 2252676
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   category       object
 1   title          object
 2   price          object
 3   rating         object
 4   No of reviews  object
dtypes: object(5)
memory usage: 85.9+ MB

In [6]:
amazon_data.head()

,category,title,price,rating,No of reviews
0,Any Department/Home & Kitchen/ Irons & Steamers,\n Hilife Steamer for Clothes Steam...,$24.99,4.4 out of 5 stars,"15,233"
1,Any Department/Home & Kitchen/ Irons & Steamers,\n Professional Grade 1700W Steam I...,$39.97,4.5 out of 5 stars,"9,726"
2,Any Department/Home & Kitchen/ Irons & Steamers,"\n Homz T Leg Ironing Board Holder,...",$1.99 $64.78,4.4 out of 5 stars,"2,796"
3,Any Department/Home & Kitchen/ Irons & Steamers,\n OGHom Steamer for Clothes Steame...,$16.99 $18.99,4.6 out of 5 stars,"6,573"
4,Any Department/Home & Kitchen/ Irons & Steamers,\n BEAUTURAL Steamer for Clothes wi...,$32.97 $39.97,4.4 out of 5 stars,"8,223"

## Creating a Random Subset of the Dataset

The Dataset contains over 2 millions rows. To optimize the code run time, let us create a subset of this dataset with 100,000 rows.

In [7]:
amazon = amazon_data.sample(n=10000)

# resetting the index
amazon = amazon.reset_index(drop=True)

In [8]:
amazon

,category,title,price,rating,No of reviews
0,Any Department/Kitchen & Dining/Kitchen Utensi...,\n Leifheit Comfortline Gourmet Gar...,$15.99,4.4 out of 5 stars,403
1,Any Department/Health & Household/House Suppli...,\n Food Grade Mineral Oil for Cutti...,$9.65 $29.95,4.9 out of 5 stars,321
2,Any Department/Automotive/RV Parts & Accessori...,\n SRRB Direct 1139/1383 LED Replac...,$11.99 $19.99,4.4 out of 5 stars,321
3,Any Department/Toys & Games/Hobbies/Trains & A...,\n Bachmann Industries 50' Sliding ...,$53.99,4.5 out of 5 stars,9
4,Any Department/Sports & Outdoors/Outdoor Recre...,\n Unisex Cycling Cap Breathable An...,$29.95,4.0 out of 5 stars,11
...,...,...,...,...,...
9995,Any Department/Sports & Outdoors/Fan Shop/Home...,\n GTEI Dallas Cowboys Desk Lamp\n ...,$39.99,4.1 out of 5 stars,6
9996,Any Department/Beauty & Personal Care/Skin Car...,\n Jergens 20938 Natural Glow Insta...,$10.68,4.3 out of 5 stars,"8,185"
9997,Any Department/Automotive/Performance Parts & ...,\n ARP 201-6303 Connecting Rod Bolt...,$8.68,5.0 out of 5 stars,2
9998,Any Department/Automotive/Performance Parts & ...,\n Walker 31533 Exhaust Gasket\n ...,$10.20,4.2 out of 5 stars,55
9999,Any Department/Sports & Outdoors/Outdoor Recre...,\n Razor Force Drifter Kart\n,$329.00,4.0 out of 5 stars,985

In [9]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       10000 non-null  object
 1   title          10000 non-null  object
 2   price          9972 non-null   object
 3   rating         10000 non-null  object
 4   No of reviews  10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

### Cleaning the Number of Reviews variable

In [10]:
# remove the comma in the numericals
amazon['No of reviews'] = amazon['No of reviews'].str.replace(',','')

In [11]:
# convert to integer
amazon['No of reviews'] = amazon['No of reviews'].astype(int)

### Cleaning the Ratings variable

In [12]:
# remove the "out of 5 stars" string
amazon['rating'] = amazon['rating'].str.replace(' out of 5 stars','')

In [13]:
# convert to float
amazon['rating'] = amazon['rating'].astype(float)

### Cleaning the Product Title variable

In [22]:
# remove any whitespace
amazon['title'] = amazon['title'].str.strip()

# remove the "\n " string
amazon['title'] = amazon['title'].str.replace('\n ','')

# remove any characters such as commas
amazon['title'] = amazon['title'].str.replace(',','')
amazon['title'] = amazon['title'].str.replace(' | ',' ')
amazon['title'] = amazon['title'].str.replace('(','')
amazon['title'] = amazon['title'].str.replace(')','')
amazon['title'] = amazon['title'].str.replace('"','')
amazon['title'] = amazon['title'].str.replace(':','')
amazon['title'] = amazon['title'].str.replace(';','')
amazon['title'] = amazon['title'].str.replace('[','')
amazon['title'] = amazon['title'].str.replace(']','')
amazon['title'] = amazon['title'].str.replace("/",' ')
amazon['title'] = amazon['title'].str.replace('+','')
amazon['title'] = amazon['title'].str.replace(' - ',' ')
amazon['title'] = amazon['title'].str.replace(' & ',' ')
amazon['title'] = amazon['title'].str.replace("'s",'')
amazon['title'] = amazon['title'].str.replace("'",' ')

# make the text all in lowercase
amazon['title'] = amazon['title'].str.lower()

In [23]:
# removing duplicate words in the title

for i in range(len(amazon['title'])):
    string1 = amazon['title'][i]
    words = string1.split()
    string2 = " ".join(sorted(set(words), key=words.index))
    amazon['title'][i] = string2

<ipython-input-23-497184235054>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['title'][i] = string2

In [24]:
# removing filler words in the title

from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 

for i in range(len(amazon['title'])):
    string1 = amazon['title'][i]
  
    stop_words = set(stopwords.words('english')) 
  
    word_tokens = word_tokenize(string1) 
  
    words = [w for w in word_tokens if not w in stop_words] 
  
    words = [] 
  
    for w in word_tokens: 
        if w not in stop_words: 
            words.append(w) 
        
    string2 = " ".join(sorted(set(words), key=words.index))
    amazon['title'][i] = string2

<ipython-input-24-51fc0e52bf14>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['title'][i] = string2

In [25]:
amazon.head()

,category,title,price,rating,No of reviews
0,Any Department/Kitchen & Dining/Kitchen Utensi...,leifheit comfortline gourmet garlic slicer | f...,$15.99,4.4,403
1,Any Department/Health & Household/House Suppli...,food grade mineral oil cutting boards countert...,$9.65 $29.95,4.9,321
2,Any Department/Automotive/RV Parts & Accessori...,srrb direct 1139 1383 led replacement r12 ba15...,$11.99 $19.99,4.4,321
3,Any Department/Toys & Games/Hobbies/Trains & A...,bachmann industries 50 sliding door box santa ...,$53.99,4.5,9
4,Any Department/Sports & Outdoors/Outdoor Recre...,unisex cycling cap breathable anti-sweat helme...,$29.95,4.0,11

### Cleaning the Categories Variable

In [26]:
# remove the "Any Department" string
amazon['category'] = amazon['category'].str.replace('Any Department/','')

In [27]:
# split the different categories and store in a list
amazon['category'] = amazon['category'].str.split("/", expand=False)

### Cleaning the Price Variable

In [28]:
# drop missing values of product price
amazon.dropna(subset=['price'], inplace=True)

# resetting the index
amazon = amazon.reset_index(drop=True)

In [29]:
# remove the dollar sign
amazon['price'] = amazon['price'].str.replace('$','')

In [30]:
# split the upper and lower price limit and store in a list
amazon['price'] = amazon['price'].str.split(" ", expand=False)

In [31]:
# replacing the price as the midpoint of price range
for i in range(len(amazon['price'])):
    array = amazon['price'][i]
    length = len(array)
    count = 0
    for j in range(length):
        price = float(array[j])
        count = count + price
    amazon['price'][i] = count/length

<ipython-input-31-b7a428beaf66>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['price'][i] = count/length

In [32]:
# convert to float
amazon['price'] = amazon['price'].astype(float)

In [33]:
amazon

,category,title,price,rating,No of reviews
0,"[Kitchen & Dining, Kitchen Utensils & Gadgets,...",leifheit comfortline gourmet garlic slicer | f...,15.99,4.4,403
1,"[Health & Household, House Supplies, Household...",food grade mineral oil cutting boards countert...,19.80,4.9,321
2,"[Automotive, RV Parts & Accessories, Lighting]",srrb direct 1139 1383 led replacement r12 ba15...,15.99,4.4,321
3,"[Toys & Games, Hobbies, Trains & Accessories, ...",bachmann industries 50 sliding door box santa ...,53.99,4.5,9
4,"[Sports & Outdoors, Outdoor Recreation, Cyclin...",unisex cycling cap breathable anti-sweat helme...,29.95,4.0,11
...,...,...,...,...,...
9967,"[Sports & Outdoors, Fan Shop, Home & Kitchen, ...",gtei dallas cowboys desk lamp,39.99,4.1,6
9968,"[Beauty & Personal Care, Skin Care, Sunscreen...",jergens 20938 natural glow instant sun body mo...,10.68,4.3,8185
9969,"[Automotive, Performance Parts & Accessories, ...",arp 201-6303 connecting rod bolt kit,8.68,5.0,2
9970,"[Automotive, Performance Parts & Accessories, ...",walker 31533 exhaust gasket,10.20,4.2,55
9971,"[Sports & Outdoors, Outdoor Recreation, Skates...",razor force drifter kart,329.00,4.0,985

In [34]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9972 entries, 0 to 9971
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       9972 non-null   object
 1   title          9972 non-null   object
 2   price          9972 non-null   float64
 3   rating         9972 non-null   float64
 4   No of reviews  9972 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 389.7+ KB

In [35]:
amazon.describe()

             price       rating  No of reviews
count  9972.000000  9972.000000    9972.000000
mean     48.953858     4.393672     710.143702
std      83.966536     0.503572    3869.207693
min       0.010000     1.000000       1.000000
25%      13.446250     4.200000      14.000000
50%      22.490000     4.500000      85.000000
75%      45.730000     4.700000     389.000000
max     995.000000     5.000000  267050.000000