In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

In [2]:
amazon_data = pd.read_csv('../Datasets/clean_amazon_data.csv')

In [3]:
amazon_data.columns

Index(['Unnamed: 0', 'category', 'title', 'price', 'rating', 'No of reviews'], dtype='object')

In [4]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9972 entries, 0 to 9971
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9972 non-null   int64
 1   category       9972 non-null   object
 2   title          9972 non-null   object
 3   price          9972 non-null   float64
 4   rating         9972 non-null   float64
 5   No of reviews  9972 non-null   int64
dtypes: float64(2), int64(2), object(2)
memory usage: 467.6+ KB

In [5]:
amazon_data.head()

,Unnamed: 0,category,title,price,rating,No of reviews
0,0,"['Kitchen & Dining', 'Kitchen Utensils & Gadge...",leifheit comfortline gourmet garlic slicer | f...,15.99,4.4,403
1,1,"['Health & Household', 'House Supplies', 'Hous...",food grade mineral oil cutting boards countert...,19.80,4.9,321
2,2,"['Automotive', 'RV Parts & Accessories', ' Lig...",srrb direct 1139 1383 led replacement r12 ba15...,15.99,4.4,321
3,3,"['Toys & Games', 'Hobbies', 'Trains & Accessor...",bachmann industries 50 sliding door box santa ...,53.99,4.5,9
4,4,"['Sports & Outdoors', 'Outdoor Recreation', 'C...",unisex cycling cap breathable anti-sweat helme...,29.95,4.0,11

In [15]:
amazon_data['category'].dtype

dtype('O')

In [17]:
se = amazon_data['category'].iloc[0]
se

"['Kitchen & Dining', 'Kitchen Utensils & Gadgets', 'Graters, Peelers & Slicers', ' Mandolines & Slicers']"

In [32]:
def format_category(s):
    res = s[2:-2].replace("'", "").split(", ")  # convert string to list 
    result = [s.strip() for s in res]           # noticed some leading and trailing whitespace in entries (see above cell)
    return set(result)                          # convert to set() for O(1) search

In [33]:
format_category(amazon_data['category'][1])

{'Health & Household',
 'House Supplies',
 'Household Cleaning',
 'Waxes & Oils',
 'Wood Conditioners'}

In [39]:
type(format_category(amazon_data['category'][1]))

set

In [37]:
amazon_data['clean_category'] = amazon_data['category'].apply(format_category)
amazon_data['clean_category']

0       {Graters, Kitchen & Dining, Peelers & Slicers,...
1       {Waxes & Oils, Household Cleaning, House Suppl...
2          {Lighting, Automotive, RV Parts & Accessories}
3       {Boxcars, Trains & Accessories, Hobbies, Train...
4       {Cycling, Sports & Outdoors, Outdoor Recreatio...
                              ...
9967    {Sports & Outdoors, Fan Shop, Lamps, Home & Ki...
9968    {Skin Care, Sunscreens & Tanning Products, Bea...
9969    {Bolts & Nuts, Automotive, Engines & Engine Pa...
9970    {Performance Parts & Accessories, Exhaust Syst...
9971    {Sports & Outdoors, Outdoor Recreation, Skateb...
Name: clean_category, Length: 9972, dtype: object

In [40]:
categories = amazon_data['clean_category']

In [42]:
categories.describe()

count                                                  9972
unique                                                 7482
top       {Education & Crafts, Teachers Calendars & Plan...
freq                                                      6
Name: clean_category, dtype: object